<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доска</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>



<div class="board">
    <div class="header board-header">
        <div class="title board-header-title">My Board Name</div>
        <div class="board-member-container">
            <a class="member" href="#">
                <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
            </a>
            <a class="member" href="#">
                <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
            </a>
            <a class="member" href="#">
                <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
            </a>
            <a class="member" href="#">
                <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
            </a>
            <a class="member" href="#">
                <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
            </a>
        </div>
        <div class="board-header-divs">
            <div class="button secondary">Settings</div>
            <div class="button danger">Delete board</div>
            <div class="button primary">Profile</div>
        </div>
    </div>

    <div class="board-card-container">
        <div class="board-card">
            <div class="title board-card-title">
                LongHeaderLongHeaderLongHeaderLongHeaderLongHeader
            </div>
            <div class="board-task-list">
                <div class="board-task-mini">
                    <div class="board-task-label-mini">LongLabelLongLabelLongLabelLongLabelLongLabel</div>
                    <div class="board-task-description-mini">LongDescriptionLongDescriptionLongDescription</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="avatar-round board-member" src="../../../img/default_avatar.png" alt="MyName"
                                 title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
            </div>
        </div>
        <div class="board-card">
            <div class="title board-card-title">
                LongHeaderLongHeaderLongHeaderLongHeaderLongHeader
            </div>
            <div class="board-task-list">
                <div class="board-task-mini">
                    <div class="board-task-label-mini">LongLabelLongLabelLongLabelLongLabelLongLabel</div>
                    <div class="board-task-description-mini">LongDescriptionLongDescriptionLongDescription</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container"></div>
                </div>
            </div>
        </div>
        <div class="board-card">
            <div class="title board-card-title">
                Card header
            </div>
            <div class="board-task-list">
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
                <div class="board-task-mini">
                    <div class="board-task-label-mini">My label</div>
                    <div class="board-task-description-mini">TODO something</div>
                    <div class="board-member-container">
                        <a class="member" href="#">
                            <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>