<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board settings</title>
    <link rel="stylesheet" href="../../../../css/reset.css">
    <link rel="stylesheet" href="../../../../css/main.css">
</head>
<body>
<div class="window-overlay">
    <div class="popup">
        <div class="form settings-form">
            <div class="form-block">
                <div class="title-big">
                    Board settings
                </div>
            </div>

            <div class="form-block">
                <div class="form-input-label">
                    Board name
                </div>
                <input class="form-input" type="text" autocomplete="off" placeholder="My board name">
            </div>

            <div class="form-block">
                <div class="form-input-label">
                    Board members
                </div>
                <div class="member-container">
                    <a class="member" href="#">
                        <img class="board-member" src="../../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <a class="member" href="#">
                        <img class="board-member" src="../../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <a class="member" href="#">
                        <img class="board-member" src="../../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <a class="member" href="#">
                        <img class="board-member" src="../../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <div class="member button default" name="addNewMemberButton">+</div>
                </div>
            </div>

            <div class="form-block">
                <div class="form-input-label">
                    Description
                </div>
                <textarea></textarea>
                <div class="button primary">Save</div>
            </div>

        </div>
    </div>
</div>

</body>
</html>