<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create label</title>
    <link rel="stylesheet" href="../../../../css/reset.css">
    <link rel="stylesheet" href="../../../../css/main.css">
</head>
<body>
<div class="form popover">

    <div class="form-block">
        <div class="title-big">
            Create label
        </div>
    </div>


    <div class="form-block">
        <input class="form-input" placeholder="Name">
    </div>

    <div class="form-block">
        <div class="task-color-palette">
            <div class="task-label task-palette-color task-label-color-yellow mod-selectable active">
            </div>
            <div class="task-label task-palette-color task-label-color-orange mod-selectable">
            </div>
            <div class="task-label task-palette-color task-label-color-red mod-selectable">
            </div>
            <div class="task-label task-palette-color task-label-color-purple mod-selectable">
            </div>
            <div class="task-label task-palette-color task-label-color-darkblue mod-selectable">
            </div>
            <div class="task-label task-palette-color task-label-color-black mod-selectable">
            </div>
        </div>
    </div>

    <div class="form-block">
        <div class="button primary">
            Create
        </div>
    </div>

</div>

</body>
</html>