<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Scada&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <title>Вход</title>
</head>

<body>
    <div class="popup auth-popup">
        <form action="" class="form auth-form">
            <div class="title auth-form-title">
                Вход
            </div>
                <input class="form-input auth-form-input" type="email" placeholder="Email">
                <input class="form-input auth-form-input" type="password" placeholder="Пароль">
            <div class="auth-form-bottom-panel">
                <div class="button primary">Войти</div>
                <a class="auth-form-link" href="">Забыли пароль?</a>
            </div>
        </form>
    </div>
</body>
</html>
