.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.auth-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.auth-form {
    width: 400px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.auth-form-title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: bold;
}

.auth-form-group {
    position: relative;
    margin-bottom: 32px;
}

.auth-form-input {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.auth-form-input:focus {
    border-color: #1a73a8;
}

