<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task settings</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
<div class="window-overlay">
    <div class="popup">
        <div class="form settings-form">
            <div class="form-block">
                <div class="title-big">
                    Card name
                </div>
            </div>

            <div class="form-block">
                <div class="form-input-label">
                    Labels
                </div>
                <div class="board-task-label-container">
                    <div class="board-task-label-mini task-color-black">Label 3</div>
                    <div class="board-task-label-mini task-color-darkblue">Label 3</div>
                    <div class="board-task-label-mini task-color-orange">Label 4</div>
                    <div class="button default" name="addNewLabelButton">+</div>
                </div>
            </div>

            <div class="form-block">
                <div class="form-input-label">
                    Members
                </div>
                <div class="member-container">
                    <a class="member" href="#">
                        <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <a class="member" href="#">
                        <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <a class="member" href="#">
                        <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <a class="member" href="#">
                        <img class="board-member" src="../../../img/default_avatar.png" alt="MyName" title="MyName">
                    </a>
                    <div class="member button default" name="addNewMemberButton">+</div>
                </div>
            </div>


            <div class="form-block">
                <div class="form-input-label">
                    Description
                </div>
                <textarea></textarea>
                <div class="button primary">Save</div>
            </div>



        </div>
    </div>
</div>

</body>
</html>