.auth
    display: flex
    justify-content: center
    align-items: center
    align-self: center
    height: 90vh

.auth-form
    width: 400px

.auth-form__title
    font-size: 20pt
    text-align: center
    margin: 0 0px 15px 0
    letter-spacing: 6px

.auth-form__bottom-panel
    display: flex
    justify-content: space-between
    align-items: center

.auth-form__link
    color: #2b5df3