.dashboards-container-title
    display: flex
    align-items: center
    justify-content: space-between
    margin: 20px 45px 0


.dashboards-container
    display: flex
    flex-flow: row wrap
    margin-left: 35px


.dashboard
    width: 260px
    height: 190px
    margin: 10px
    border-radius: 15px
    border: 2px solid transparent
    box-shadow: 0 0 17px 2px #8f8a8a82


.dashboard:hover
    box-shadow: 0 0 20px 0 #5b5656
    cursor: pointer


.dashboard-title
    margin-top: 20px
    margin-left: 26px
    font-size: 16pt
    font-weight: bold
    color: black


.fake-dashboard
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border: 2px dashed #afaeae
    box-shadow: none


.fake-dashboard-text
    text-align: center
    width: 200px
    font-size: 16pt
    font-weight: bold
    color: #afaeae


.fake-dashboard-plus-icon
    width: 50%
    height: 50%


.dashboard-create
    height: 80%
    display: flex
    flex-direction: column
    justify-content: space-around
    margin: 20px

