.boards
    margin: 20px

    &-title
        @media screen and (max-width: $tablet-breakpoint)
            margin: 0
        margin-bottom: 25px

        &__text
            @media screen and (max-width: $tablet-breakpoint)
                font-size: 20px
                margin: 0
            margin: 20px 45px 0
            font-size: 26px
            @extend .title

        &__hr--width-2
            @extend .hr-width-2

.group
    @media screen and (max-width: $desktop-breakpoint)
        margin: 0 auto 0
        justify-content: center
    display: flex
    flex-flow: row wrap
    margin-left: 35px

    &-mini-board
        @extend .link-none
        width: 260px
        height: 190px
        margin: 10px
        border-radius: 15px
        border: 2px solid transparent
        box-shadow: 0 0 17px 2px #8f8a8a82

        &:hover
            @extend .link-none
            box-shadow: 0 0 20px 0 #5b5656
            cursor: pointer

        &__title
            @media screen and (max-width: $phone-breakpoint)
                font-weight: normal
            margin-top: 20px
            margin-left: 26px
            margin-right: 26px
            font-size: 16pt
            color: black
            font-weight: bold
            overflow-wrap: break-word

    &-fake-board
        @extend .group-mini-board
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: 2px dashed #afaeae
        box-shadow: none

        &__text
            text-align: center
            width: 200px
            font-size: 16pt
            font-weight: bold
            color: #afaeae

        &__icon
            width: 50%
            height: 50%

    &-board-create
        height: 80%
        display: flex
        flex-direction: column
        justify-content: space-around
        margin: 20px

        &__label
            @extend .form-input-label

        &__input
            margin: 0 auto 30px
            @extend .form-input

        &-controls
            @extend .controls-panel

            &__button
                &--secondary
                    @extend .button--secondary

                &--danger
                    @extend .button--danger

    &-template-board
        @extend .group-fake-board
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        cursor: default

        &:hover
            cursor: default

        &__text
            @extend .group-fake-board__text

        &__template-button
            display: inline-block
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap

            font-size: 14pt
            margin-top: 10px
            padding: 8px
            border-radius: 6px
            align-self: start
            transition: 0.2s
            cursor: pointer
            background: #d4d5fabf
            user-select: none
            width: -moz-available
            width: -webkit-fill-available
            width: fill-available

            &:hover
                background: #b2b4fdbf

        &__templates-list
            @extend .container-centered-col
            height: 50%
            max-width: 80%
            justify-content: space-around
