.board-settings
    @extend .form
    // display: flex
    // flex-direction: column
    width: 700px
    box-shadow: none
    &-title
        &__text
            @extend .title
            margin-left: 20px
            font-size: 20pt
        &__hr--width-2
            @extend .hr-width-2
    &-members
        @extend .member-container
        padding-top: 4px
        &__member
            height: 60px
            width: 60px
            border-radius: 50%
        &__add-button
            background: #d4d5fa8a
            transition: 0.3s
            color: #000000
            &:hover
                background: #d4d5fafa
    &-controls
        margin-top: 20px
        @extend .controls-panel
        &__button
            &--primary
                @extend .button--primary

            &--danger
                @extend .button--danger

    &__error
        @extend .input-error
    &__label
        margin-top: 30px
        @extend .form-input-label
    &__input
        @extend .form-input
    &__textarea