.profile-header
    background-color: #4f6dffbd
    margin-bottom: 10px

.profile-header div:last-child
    place-content: flex-end

.profile-header-title
    color: white
    font-size: 20pt

.profile-header-logout
    margin-left: 20px

.profile-header-avatar
    height: 50px
    width: 50px

.profile
    padding: 32px 32px 5px 32px
    margin: 30px 0

.profile-input-group
    max-width: 420px
    min-width: 300px

.profile-mini-group-title
    margin: 20px 0

.profile-avatar-column
    margin: 0 auto 0
    display: flex
    flex-direction: column
    align-items: center

.profile-avatar
    width: 220px
    height: 220px

.profile-change-avatar-button
    margin-top: 20px