.task
    @extend .form
    display: flex
    flex-direction: column
    width: 700px
    max-height: 70vh
    overflow-y: auto
    box-shadow: none

    &-title
        &__text
            @extend .title
            margin-left: 20px
            font-size: 20pt

        &__hr--width-2
            @extend .hr-width-2

    &-settings
        margin: 0 auto 10px
        width: 660px

        &-comments
            margin: 20px

        &-comment
            display: flex
            margin-bottom: 20px

            &-right-column
                width: 100%

            &__text
                margin-top: 10px

            &__nickname
                font-size: 14pt
                font-family: 'Scada', sans-serif

            &__date
                font-family: 'Scada', sans-serif
                color: #444746
                font-size: 14px
                letter-spacing: 1px

        &-add-comment
            width: 100%

            &__button--secondary
                margin-top: 20px
                @extend .button--secondary


        &-members
            @extend .member-container

            &__member
                height: 60px
                width: 60px
                border-radius: 50%
                margin-right: 10px
                object-fit: cover

            &__add-button
                @extend .task-settings-members__member
                border: 2px dashed #afaeae
                transition: 0.3s

                &:hover
                    border-style: solid
                    cursor: pointer

        &-controls
            margin-top: 20px
            @extend .controls-panel

            &__button
                &--primary
                    @extend .button--primary

                &--secondary
                    @extend .button--secondary

                &--danger
                    @extend .button--danger

        &__error
            @extend .input-error

        &__label
            @extend .form-input-label
            margin-top: 30px

        &__input
            @extend .form-input

    &-checklists
        &-form
            @extend .form
            width: 300px

            &__label
                @extend .form-input-label

/*    MEMBERS POPUP    */



/*    END MEMBERS POPUP    */

/*       CREATE LABEL       */
.task-color-palette
    display: flex
    flex-direction: row
    flex-wrap: wrap

.task-palette-color
    height: 15px
    width: 30px
    margin: 5px
    justify-content: center

.task-palette-color.active:before
    content: "\2713"
/*       END CREATE LABEL       */
